

.Work {
  width: 100%;
  padding-top: 85px;
  position: relative;
  background-color: var(--primary-color);
}
/* .work-wrapper{
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */



/* .work-wrapper:hover .work-cards{
  opacity: 0.2;
}

.work-wrapper .work-cards:hover{
  opacity: 1;
} */


.github_link,.github_link:active,.github_link:link{
  text-decoration: none;
  color: rgb(0, 217, 255);
}
.github_link:hover{
  color: rgb(0, 230, 161);
}